# SOURCE EXTRACTION (MOVIE API)

In [2]:
import pandas as pd
import requests
import json
import os
import time
from new_config import TMDB_API_KEY

Testing with one Movie to see if the API is working

In [3]:
base_url = "https://api.themoviedb.org/3"
movie_id = 299534
url = f"{base_url}/movie/{movie_id}?api_key={TMDB_API_KEY}"
response = requests.get(url)

# Check if the request was successful
print(f"Response status code: {response.status_code}")

movie_data = response.json()

# Display the movie data
print(json.dumps(movie_data, indent = 2))

Response status code: 200
{
  "adult": false,
  "backdrop_path": "/9wXPKruA6bWYk2co5ix6fH59Qr8.jpg",
  "belongs_to_collection": {
    "id": 86311,
    "name": "The Avengers Collection",
    "poster_path": "/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg",
    "backdrop_path": "/zuW6fOiusv4X9nnW3paHGfXcSll.jpg"
  },
  "budget": 356000000,
  "genres": [
    {
      "id": 12,
      "name": "Adventure"
    },
    {
      "id": 878,
      "name": "Science Fiction"
    },
    {
      "id": 28,
      "name": "Action"
    }
  ],
  "homepage": "https://www.marvel.com/movies/avengers-endgame",
  "id": 299534,
  "imdb_id": "tt4154796",
  "origin_country": [
    "US"
  ],
  "original_language": "en",
  "original_title": "Avengers: Endgame",
  "overview": "After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos' actions and restore order to the universe once and for all, no matter what consequences may be in store.",
  "popularity": 13.5434,
  "poster_path": "/bR8ISy1O9XQxqiy0fQFw2BX72RQ.jpg",
  "production_companies": [
    {
      "id": 420,
      "logo_path": "/hUzeosd33nzE5MCNsZxCGEKTXaQ.png",
      "name": "Marvel Studios",
      "origin_country": "US"
    }
  ],
  "production_countries": [
    {
      "iso_3166_1": "US",
      "name": "United States of America"
    }
  ],
  "release_date": "2019-04-24",
  "revenue": 2799439100,
  "runtime": 181,
  "spoken_languages": [
    {
      "english_name": "English",
      "iso_639_1": "en",
      "name": "English"
    },
    {
      "english_name": "Japanese",
      "iso_639_1": "ja",
      "name": "\u65e5\u672c\u8a9e"
    },
    {
      "english_name": "Xhosa",
      "iso_639_1": "xh",
      "name": ""
    }
  ],
  "status": "Released",
  "tagline": "Avenge the fallen.",
  "title": "Avengers: Endgame",
  "video": false,
  "vote_average": 8.238,
  "vote_count": 26963
}

Loading the movies into our container to panderize them üòÇ

In [76]:
# List of movie ID
movie_ids = movie_id = [0, 299534, 19995, 140607, 299536, 597, 135397, 420818, 24428, 168259, 99861, 284054, 12445, 181808, 330457, 351286, 109445, 321612, 260513]

# Base URL for TMDB API
base_url = "https://api.themoviedb.org/3"

# List to store all movie data
all_movie_data = []

# Loop through each movie ID and fetch data
for movie_id in movie_ids:
    print(f"Fetching data for movie ID: {movie_id}..")
    
    # Build Complete URL 
    url = f"{base_url}/movie/{movie_id}?api_key={TMDB_API_KEY}"
    
    # Make GET request to fetch movie data
   
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        movie_data = response.json()
        all_movie_data.append(movie_data)  # Add to list
        print(f"Successfully fetched data for movie_ID: {movie_id}")
    else: 
        print(f"x Error code {response.status_code} for movie_ID: {movie_id}")
    
    time.sleep(0.25)  # Sleep to avoid hitting rate limits
    
    print (f" Successfully fetched data for {len(all_movie_data)} out of {len(movie_ids)} movies.")
    print (f"Unsuccessful fetch attempts: {len(movie_ids) - len(all_movie_data)}")

Fetching data for movie ID: 0..
x Error code 404 for movie_ID: 0
 Successfully fetched data for 0 out of 19 movies.
Unsuccessful fetch attempts: 19
Fetching data for movie ID: 299534..
Successfully fetched data for movie_ID: 299534
 Successfully fetched data for 1 out of 19 movies.
Unsuccessful fetch attempts: 18
Fetching data for movie ID: 19995..
Successfully fetched data for movie_ID: 19995
 Successfully fetched data for 2 out of 19 movies.
Unsuccessful fetch attempts: 17
Fetching data for movie ID: 140607..
Successfully fetched data for movie_ID: 140607
 Successfully fetched data for 3 out of 19 movies.
Unsuccessful fetch attempts: 16
Fetching data for movie ID: 299536..
Successfully fetched data for movie_ID: 299536
 Successfully fetched data for 4 out of 19 movies.
Unsuccessful fetch attempts: 15
Fetching data for movie ID: 597..
Successfully fetched data for movie_ID: 597
 Successfully fetched data for 5 out of 19 movies.
Unsuccessful fetch attempts: 14
Fetching data for movie ID: 135397..
Successfully fetched data for movie_ID: 135397
 Successfully fetched data for 6 out of 19 movies.
Unsuccessful fetch attempts: 13
Fetching data for movie ID: 420818..
Successfully fetched data for movie_ID: 420818
 Successfully fetched data for 7 out of 19 movies.
Unsuccessful fetch attempts: 12
Fetching data for movie ID: 24428..
Successfully fetched data for movie_ID: 24428
 Successfully fetched data for 8 out of 19 movies.
Unsuccessful fetch attempts: 11
Fetching data for movie ID: 168259..
Successfully fetched data for movie_ID: 168259
 Successfully fetched data for 9 out of 19 movies.
Unsuccessful fetch attempts: 10
Fetching data for movie ID: 99861..
Successfully fetched data for movie_ID: 99861
 Successfully fetched data for 10 out of 19 movies.
Unsuccessful fetch attempts: 9
Fetching data for movie ID: 284054..
Successfully fetched data for movie_ID: 284054
 Successfully fetched data for 11 out of 19 movies.
Unsuccessful fetch attempts: 8
Fetching data for movie ID: 12445..
Successfully fetched data for movie_ID: 12445
 Successfully fetched data for 12 out of 19 movies.
Unsuccessful fetch attempts: 7
Fetching data for movie ID: 181808..
Successfully fetched data for movie_ID: 181808
 Successfully fetched data for 13 out of 19 movies.
Unsuccessful fetch attempts: 6
Fetching data for movie ID: 330457..
Successfully fetched data for movie_ID: 330457
 Successfully fetched data for 14 out of 19 movies.
Unsuccessful fetch attempts: 5
Fetching data for movie ID: 351286..
Successfully fetched data for movie_ID: 351286
 Successfully fetched data for 15 out of 19 movies.
Unsuccessful fetch attempts: 4
Fetching data for movie ID: 109445..
Successfully fetched data for movie_ID: 109445
 Successfully fetched data for 16 out of 19 movies.
Unsuccessful fetch attempts: 3
Fetching data for movie ID: 321612..
Successfully fetched data for movie_ID: 321612
 Successfully fetched data for 17 out of 19 movies.
Unsuccessful fetch attempts: 2
Fetching data for movie ID: 260513..
Successfully fetched data for movie_ID: 260513
 Successfully fetched data for 18 out of 19 movies.
Unsuccessful fetch attempts: 1

In [5]:
movie_data_raw = pd.DataFrame(all_movie_data)
print(movie_data_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  18 non-null     bool
 1   backdrop_path          18 non-null     object
 2   belongs_to_collection  16 non-null     object
 3   budget                 18 non-null     int64
 4   genres                 18 non-null     object
 5   homepage               18 non-null     object
 6   id                     18 non-null     int64
 7   imdb_id                18 non-null     object
 8   origin_country         18 non-null     object
 9   original_language      18 non-null     object
 10  original_title         18 non-null     object
 11  overview               18 non-null     object
 12  popularity             18 non-null     float64
 13  poster_path            18 non-null     object
 14  production_companies   18 non-null     object
 15  production_countries   18 non-null     object
 16  release_date           18 non-null     object
 17  revenue                18 non-null     int64
 18  runtime                18 non-null     int64
 19  spoken_languages       18 non-null     object
 20  status                 18 non-null     object
 21  tagline                18 non-null     object
 22  title                  18 non-null     object
 23  video                  18 non-null     bool
 24  vote_average           18 non-null     float64
 25  vote_count             18 non-null     int64
dtypes: bool(2), float64(2), int64(5), object(17)
memory usage: 3.5+ KB
None

Data Cleaning and Preprocessing

In [8]:
movie_data_clean = movie_data_raw.drop(columns=['original_title', 'adult', 'imdb_id', 'video', 'homepage'])

In [9]:
print(movie_data_clean['title'].head())

0               Avengers: Endgame
1                          Avatar
2    Star Wars: The Force Awakens
3          Avengers: Infinity War
4                         Titanic
Name: title, dtype: object

In [10]:
print("Available columns:", movie_data_clean.columns.tolist())
print (len(movie_data_clean.columns))

Available columns: ['backdrop_path', 'belongs_to_collection', 'budget', 'genres', 'id', 'origin_country', 'original_language', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count']
21

In [11]:
print(movie_data_clean['spoken_languages'])

0     [{'english_name': 'English', 'iso_639_1': 'en'...
1     [{'english_name': 'English', 'iso_639_1': 'en'...
2     [{'english_name': 'English', 'iso_639_1': 'en'...
3     [{'english_name': 'English', 'iso_639_1': 'en'...
4     [{'english_name': 'English', 'iso_639_1': 'en'...
5     [{'english_name': 'English', 'iso_639_1': 'en'...
6     [{'english_name': 'English', 'iso_639_1': 'en'...
7     [{'english_name': 'English', 'iso_639_1': 'en'...
8     [{'english_name': 'Arabic', 'iso_639_1': 'ar',...
9     [{'english_name': 'English', 'iso_639_1': 'en'...
10    [{'english_name': 'English', 'iso_639_1': 'en'...
11    [{'english_name': 'English', 'iso_639_1': 'en'...
12    [{'english_name': 'English', 'iso_639_1': 'en'...
13    [{'english_name': 'English', 'iso_639_1': 'en'...
14    [{'english_name': 'English', 'iso_639_1': 'en'...
15    [{'english_name': 'English', 'iso_639_1': 'en'...
16    [{'english_name': 'English', 'iso_639_1': 'en'...
17    [{'english_name': 'English', 'iso_639_1': 'en'...
Name: spoken_languages, dtype: object

In [12]:
json_columns = ['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages']

print ("Examining JSON columns:", json_columns)

for col in json_columns:
    print(f"\n{col.upper()}:")
    
    # Select a  sample row to examine
    sample = movie_data_clean[col].dropna().iloc[0] if movie_data_clean[col].notna().any() else None
    
    if sample: 
        print(f"Sample type: {type(sample)}")
        print(f"Sample data : {sample}")
    else:
        print("No data available in this column.")

Examining JSON columns: ['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages']

BELONGS_TO_COLLECTION:
Sample type: <class 'dict'>
Sample data : {'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}

GENRES:
Sample type: <class 'list'>
Sample data : [{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]

PRODUCTION_COMPANIES:
Sample type: <class 'list'>
Sample data : [{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png', 'name': 'Marvel Studios', 'origin_country': 'US'}]

PRODUCTION_COUNTRIES:
Sample type: <class 'list'>
Sample data : [{'iso_3166_1': 'US', 'name': 'United States of America'}]

SPOKEN_LANGUAGES:
Sample type: <class 'list'>
Sample data : [{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': 'Êó•Êú¨Ë™û'}, {'english_name': 'Xhosa', 'iso_639_1': 'xh', 'name': ''}]

In [13]:
# Taking a look at a sample movie's JSON columns
sample_movies = all_movie_data[1] # Using index 1 (skip 0 if it failed)

print ("RAW DATA STRUCTURE FOR JSON COLUMNS")
print ("=" * 60)

print("\n1. BELONGS TO COLLECTION:")
print(sample_movies.get('belongs_to_collection'))

print("\n2. GENRES:")
print(sample_movies.get('genres'))

print("\n3. PRODUCTION COMPANIES:")
print(sample_movies.get('production_companies'))

print("\n4. PRODUCTION COUNTRIES:")
print(sample_movies.get('production_countries'))

print("\n5. SPOKEN LANGUAGES:")
print(sample_movies.get('spoken_languages'))

RAW DATA STRUCTURE FOR JSON COLUMNS
============================================================

1. BELONGS TO COLLECTION:
{'id': 87096, 'name': 'Avatar Collection', 'poster_path': '/3C5brXxnBxfkeKWwA1Fh4xvy4wr.jpg', 'backdrop_path': '/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg'}

2. GENRES:
[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]

3. PRODUCTION COMPANIES:
[{'id': 444, 'logo_path': None, 'name': 'Dune Entertainment', 'origin_country': 'US'}, {'id': 574, 'logo_path': '/8wdmrfGcDx3TJxYiiDksLzAW4pB.png', 'name': 'Lightstorm Entertainment', 'origin_country': 'US'}, {'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png', 'name': '20th Century Fox', 'origin_country': 'US'}, {'id': 133789, 'logo_path': '/bJdeIb1ET3BkyodAASVDq1x3mls.png', 'name': 'Ingenious Film Partners', 'origin_country': 'GB'}]

4. PRODUCTION COUNTRIES:
[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}]

5. SPOKEN LANGUAGES:
[{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Spanish', 'iso_639_1': 'es', 'name': 'Espa√±ol'}]

Function to exctract and transform JSON columns

In [29]:

def extract_collection_name(collection_data):
    """
    Extract collection for names in the belongs_to_collection field
    Input: {'id': 87096, 'name': 'Avatar Collection', ...} or None
    Output: 'Avatar Collection' or None
    
    """
    if collection_data and isinstance(collection_data, dict):
        return collection_data.get('name')
    return None

# def extract_names_pipe_separated(json_list):
#     """
#     Extract names from a list of JSON objects and join them with pipe separator
#     Input: [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}]
#     Output: 'Action|Adventure'
#     """
#     if not json_list or not isinstance(json_list, list):
#         return None
    
#     # Extract all 'name' values
#     names = [item.get('name') for item in json_list if 'name' in item]
    
#     # Join names with pipe separator
#     return '|'.join(names) if names else None

# FIXED extraction function
def extract_names_pipe_separated(data_list):
    if not data_list or not isinstance(data_list, list):
        return None
    
    # Filter out empty/blank names
    names = [
        item.get('name').strip()  # Also strip whitespace
        for item in data_list 
        if 'name' in item and item.get('name') and item.get('name').strip()
    ]
    
    return '|'.join(names) if names else None

# Test the functions
print("Testing the extraction functions:")

print("=" * 60)

test_movie = all_movie_data[1]  # Using index 1 (skip 0 if it failed)

print(f'\nOriginal collection: {test_movie.get("belongs_to_collection")}')
print(f'Extracted collection name: {extract_collection_name(test_movie.get("belongs_to_collection"))}')

print(f'\nOriginal genres: {test_movie.get("genres")}')
print(f'Extracted genres: {extract_names_pipe_separated(test_movie.get("genres"))}')

print(f'\nOriginal production_companies: {test_movie.get("production_companies")}')
print(f'Extracted production companies: {extract_names_pipe_separated(test_movie.get("production_companies"))}')

Testing the extraction functions:
============================================================

Original collection: {'id': 87096, 'name': 'Avatar Collection', 'poster_path': '/3C5brXxnBxfkeKWwA1Fh4xvy4wr.jpg', 'backdrop_path': '/6qkJLRCZp9Y3ovXti5tSuhH0DpO.jpg'}
Extracted collection name: Avatar Collection

Original genres: [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]
Extracted genres: Action|Adventure|Fantasy|Science Fiction

Original production_companies: [{'id': 444, 'logo_path': None, 'name': 'Dune Entertainment', 'origin_country': 'US'}, {'id': 574, 'logo_path': '/8wdmrfGcDx3TJxYiiDksLzAW4pB.png', 'name': 'Lightstorm Entertainment', 'origin_country': 'US'}, {'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png', 'name': '20th Century Fox', 'origin_country': 'US'}, {'id': 133789, 'logo_path': '/bJdeIb1ET3BkyodAASVDq1x3mls.png', 'name': 'Ingenious Film Partners', 'origin_country': 'GB'}]
Extracted production companies: Dune Entertainment|Lightstorm Entertainment|20th Century Fox|Ingenious Film Partners

In [34]:
# Apply to all movies in the DataFrame
movies_df_clean = pd.DataFrame([
    {
        'id': movie['id'],
        'title': movie['title'],
        'tagline': movie.get('tagline'),  # NEW
        'overview': movie.get('overview'),  # NEW
        'status': movie.get('status'),  # NEW
        'release_date': movie['release_date'],
        'runtime': movie['runtime'],
        'budget': movie['budget'],
        'revenue': movie['revenue'],
        'vote_average': movie['vote_average'],
        'vote_count': movie['vote_count'],
        'popularity': movie['popularity'],
        'original_language': movie['original_language'],
        'poster_path': movie.get('poster_path'),  # NEW
        'collection': extract_collection_name(movie.get('belongs_to_collection')),
        'genres': extract_names_pipe_separated(movie.get('genres')),
        'spoken_languages': extract_names_pipe_separated(movie.get('spoken_languages')),
        'production_countries': extract_names_pipe_separated(movie.get('production_countries')),
        'production_companies': extract_names_pipe_separated(movie.get('production_companies')),
    }
    for movie in all_movie_data
])

# Display the cleaned DataFrame 
print("\n" + "="*60)
print("CLEANED DATAFRAME WITH EXTRACTED FIELDS")
print("="*60)
print(movies_df_clean)

print("\n" + "="*60)
print("SAMPLE EXTRACTED DATA")
print("="*60)
print("\nFirst 5 movies - extracted fields only:")
print(movies_df_clean[['title', 'collection', 'genres', 'spoken_languages', 'production_countries', 'production_companies']].head())

============================================================
CLEANED DATAFRAME WITH EXTRACTED FIELDS
============================================================
        id                                         title  \
0   299534                             Avengers: Endgame
1    19995                                        Avatar
2   140607                  Star Wars: The Force Awakens
3   299536                        Avengers: Infinity War
4      597                                       Titanic
5   135397                                Jurassic World
6   420818                                 The Lion King
7    24428                                  The Avengers
8   168259                                     Furious 7
9    99861                       Avengers: Age of Ultron
10  284054                                 Black Panther
11   12445  Harry Potter and the Deathly Hallows: Part 2
12  181808                      Star Wars: The Last Jedi
13  330457                                     Frozen II
14  351286                Jurassic World: Fallen Kingdom
15  109445                                        Frozen
16  321612                          Beauty and the Beast
17  260513                                 Incredibles 2

                                              tagline  \
0                                  Avenge the fallen.
1                         Enter the world of Pandora.
2                       Every generation has a story.
3                       Destiny arrives all the same.
4           Nothing on earth could come between them.
5                                   The park is open.
6                              The king has returned.
7                             Some assembly required.
8                                Vengeance hits home.
9                                 A new age has come.
10                                Long live the king.
11                                       It all ends.
12                                   Let the Past Die
13                     The past is not what it seems.
14                                  The park is gone.
15  Who will save the day? The ice guy? The nice g...
16                                      Be our guest.
17                      It's been too long, dahlings.

                                             overview    status release_date  \
0   After the devastating events of Avengers: Infi...  Released   2019-04-24
1   In the 22nd century, a paraplegic Marine is di...  Released   2009-12-15
2   Thirty years after defeating the Galactic Empi...  Released   2015-12-15
3   As the Avengers and their allies have continue...  Released   2018-04-25
4   101-year-old Rose DeWitt Bukater tells the sto...  Released   1997-11-18
5   Twenty-two years after the events of Jurassic ...  Released   2015-06-06
6   Simba idolizes his father, King Mufasa, and ta...  Released   2019-07-12
7   When an unexpected enemy emerges and threatens...  Released   2012-04-25
8   Deckard Shaw seeks revenge against Dominic Tor...  Released   2015-04-01
9   When Tony Stark tries to jumpstart a dormant p...  Released   2015-04-22
10  King T'Challa returns home to the reclusive, t...  Released   2018-02-13
11  Harry, Ron and Hermione continue their quest t...  Released   2011-07-12
12  Rey develops her newly discovered abilities wi...  Released   2017-12-13
13  Elsa, Anna, Kristoff and Olaf head far into th...  Released   2019-11-20
14  Three years after Jurassic World was destroyed...  Released   2018-06-06
15  Young princess Anna of Arendelle dreams about ...  Released   2013-11-20
16  A live-action adaptation of Disney's version o...  Released   2017-03-16
17  Elastigirl springs into action to save the day...  Released   2018-06-14

    runtime     budget     revenue  vote_average  vote_count  popularity  \
0       181  356000000  2799439100         8.238       26963     13.5434
1       162  237000000  2923706026         7.594       32857     26.4900
2       136  245000000  2068223624         7.300       20103      7.3921
3       149  300000000  2052415039         8.236       31176     20.7668
4       194  200000000  2264162353         7.903       26512     28.1589
5       124  150000000  1671537444         6.699       21123      9.4924
6       118  260000000  1662020819         7.102       10570      8.8530
7       143  220000000  1518815515         7.866       34238     41.5882
8       139  190000000  1515400000         7.223       11031      8.1373
9       141  235000000  1405403694         7.271       23876     10.1010
10      135  200000000  1349926083         7.400       22971      8.4461
11      130  125000000  1341511219         8.100       21452     17.4702
12      152  300000000  1332698830         6.800       15926      6.0661
13      103  150000000  1453683476         7.241       10072      9.4938
14      129  170000000  1310469037         6.537       12409      8.7959
15      102  150000000  1274219009         7.200       17182     18.6008
16      129  160000000  1266115964         6.969       15832     11.8184
17      118  200000000  1243225667         7.456       13368      9.7675

   original_language                       poster_path  \
0                 en  /bR8ISy1O9XQxqiy0fQFw2BX72RQ.jpg
1                 en  /gKY6q7SjCkAU6FqvqWybDYgUKIF.jpg
2                 en  /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
3                 en  /7WsyChQLEftFiDOVTGkv3hFpyyt.jpg
4                 en  /9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg
5                 en  /rhr4y79GpxQF9IsfJItRXVaoGs4.jpg
6                 en  /dzBtMocZuJbjLOXvrl4zGYigDzh.jpg
7                 en   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg
8                 en  /ktofZ9Htrjiy0P6LEowsDaxd3Ri.jpg
9                 en  /4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg
10                en  /uxzzxijgPIY7slzFvMotPv8wjKA.jpg
11                en  /c54HpQmuwXjHq2C9wmoACjxoom3.jpg
12                en  /kOVEVeg59E0wsnXmF9nrh6OmWII.jpg
13                en  /mINJaa34MtknCYl5AjtNJzWj8cD.jpg
14                en  /x8cLgs0uXlb9rmpuVIxopoRGnCr.jpg
15                en  /itAKcobTYGpYT8Phwjd8c9hleTo.jpg
16                en  /hKegSKIDep2ewJWPUQD7u0KqFIp.jpg
17                en  /9lFKBtaVIhP7E2Pk0IY1CwTKTMZ.jpg

                             collection  \
0               The Avengers Collection
1                     Avatar Collection
2                  Star Wars Collection
3               The Avengers Collection
4                                  None
5              Jurassic Park Collection
6     The Lion King (Reboot) Collection
7               The Avengers Collection
8   The Fast and the Furious Collection
9               The Avengers Collection
10             Black Panther Collection
11              Harry Potter Collection
12                 Star Wars Collection
13                    Frozen Collection
14             Jurassic Park Collection
15                    Frozen Collection
16                                 None
17           The Incredibles Collection

                                       genres  \
0            Adventure|Science Fiction|Action
1    Action|Adventure|Fantasy|Science Fiction
2            Adventure|Action|Science Fiction
3            Adventure|Action|Science Fiction
4                               Drama|Romance
5   Action|Adventure|Science Fiction|Thriller
6            Adventure|Drama|Family|Animation
7            Science Fiction|Action|Adventure
8                       Action|Crime|Thriller
9            Action|Adventure|Science Fiction
10           Action|Adventure|Science Fiction
11                          Adventure|Fantasy
12           Adventure|Action|Science Fiction
13  Family|Animation|Adventure|Comedy|Fantasy
14  Action|Adventure|Science Fiction|Thriller
15         Animation|Family|Adventure|Fantasy
16                     Family|Fantasy|Romance
17          Action|Adventure|Animation|Family

                                     spoken_languages  \
0                                         English|Êó•Êú¨Ë™û
1                                     English|Espa√±ol
2                                             English
3                                             English
4   English|Fran√ßais|Deutsch|svenska|Italiano|P—É—Å—Å–∫–∏–π
5                                             English
6                                             English
7                              English|‡§π‡§ø‡§®‡•ç‡§¶‡•Ä|P—É—Å—Å–∫–∏–π
8                     ÿßŸÑÿπÿ±ÿ®Ÿäÿ©|English|Espa√±ol|‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢
9                                             English
10                          English|ÌïúÍµ≠Ïñ¥/Ï°∞ÏÑ†Îßê|Kiswahili
11                                            English
12                                            English
13                                            English
14                                    English|P—É—Å—Å–∫–∏–π
15                                            English
16                                   English|Fran√ßais
17                                            English

                       production_countries  \
0                  United States of America
1   United States of America|United Kingdom
2                  United States of America
3                  United States of America
4                  United States of America
5                  United States of America
6                  United States of America
7                  United States of America
8                  United States of America
9                  United States of America
10                 United States of America
11  United Kingdom|United States of America
12                 United States of America
13                 United States of America
14                 United States of America
15                 United States of America
16                 United States of America
17                 United States of America

                                 production_companies
0                                      Marvel Studios
1   Dune Entertainment|Lightstorm Entertainment|20...
2                            Lucasfilm Ltd.|Bad Robot
3                                      Marvel Studios
4   Paramount Pictures|20th Century Fox|Lightstorm...
5   Amblin Entertainment|Universal Pictures|Legend...
6         Walt Disney Pictures|Fairview Entertainment
7                                      Marvel Studios
8           Original Film|One Race|Universal Pictures
9                                      Marvel Studios
10                                     Marvel Studios
11                 Warner Bros. Pictures|Heyday Films
12                                     Lucasfilm Ltd.
13                      Walt Disney Animation Studios
14            Amblin Entertainment|Universal Pictures
15                      Walt Disney Animation Studios
16              Walt Disney Pictures|Mandeville Films
17                                              Pixar

============================================================
SAMPLE EXTRACTED DATA
============================================================

First 5 movies - extracted fields only:
                          title               collection  \
0             Avengers: Endgame  The Avengers Collection
1                        Avatar        Avatar Collection
2  Star Wars: The Force Awakens     Star Wars Collection
3        Avengers: Infinity War  The Avengers Collection
4                       Titanic                     None

                                     genres  \
0          Adventure|Science Fiction|Action
1  Action|Adventure|Fantasy|Science Fiction
2          Adventure|Action|Science Fiction
3          Adventure|Action|Science Fiction
4                             Drama|Romance

                                    spoken_languages  \
0                                        English|Êó•Êú¨Ë™û
1                                    English|Espa√±ol
2                                            English
3                                            English
4  English|Fran√ßais|Deutsch|svenska|Italiano|P—É—Å—Å–∫–∏–π

                      production_countries  \
0                 United States of America
1  United States of America|United Kingdom
2                 United States of America
3                 United States of America
4                 United States of America

                                production_companies
0                                     Marvel Studios
1  Dune Entertainment|Lightstorm Entertainment|20...
2                           Lucasfilm Ltd.|Bad Robot
3                                     Marvel Studios
4  Paramount Pictures|20th Century Fox|Lightstorm...

Inspect with value_counts() to Identify anomalies

In [35]:
# Step 3: Inspect with value_counts()
print("\n" + "="*70)
print("VALUE_COUNTS INSPECTION")
print("="*70)

# Collection
print("\n1. COLLECTION:")
print(movies_df_clean['collection'].value_counts(dropna=False))

# Genres (split by pipe)
print("\n2. GENRES (individual):")
print(movies_df_clean['genres'].str.split('|').explode().value_counts())

# Languages (split by pipe)
print("\n3. SPOKEN LANGUAGES (individual):")
print(movies_df_clean['spoken_languages'].str.split('|').explode().value_counts())

# Countries (split by pipe)
print("\n4. PRODUCTION COUNTRIES (individual):")
print(movies_df_clean['production_countries'].str.split('|').explode().value_counts())

# Companies (top 15)
print("\n5. PRODUCTION COMPANIES (top 15):")
print(movies_df_clean['production_companies'].str.split('|').explode().value_counts().head(15))

# Anomaly summary
print("\n" + "="*70)
print("ANOMALY DETECTION")
print("="*70)
print("\nMissing data:")
print(movies_df_clean[['collection', 'genres', 'spoken_languages', 
                        'production_countries', 'production_companies']].isnull().sum())

======================================================================
VALUE_COUNTS INSPECTION
======================================================================

1. COLLECTION:
collection
The Avengers Collection                4
Star Wars Collection                   2
None                                   2
Frozen Collection                      2
Jurassic Park Collection               2
Avatar Collection                      1
The Lion King (Reboot) Collection      1
The Fast and the Furious Collection    1
Black Panther Collection               1
Harry Potter Collection                1
The Incredibles Collection             1
Name: count, dtype: int64

2. GENRES (individual):
genres
Adventure          15
Action             12
Science Fiction    10
Fantasy             5
Family              5
Animation           4
Thriller            3
Romance             2
Drama               2
Crime               1
Comedy              1
Name: count, dtype: int64

3. SPOKEN LANGUAGES (individual):
spoken_languages
English      18
P—É—Å—Å–∫–∏–π       3
Espa√±ol       2
Fran√ßais      2
Êó•Êú¨Ë™û           1
Deutsch       1
svenska       1
Italiano      1
‡§π‡§ø‡§®‡•ç‡§¶‡•Ä        1
ÿßŸÑÿπÿ±ÿ®Ÿäÿ©       1
‡∏†‡∏≤‡∏©‡∏≤‡πÑ‡∏ó‡∏¢       1
ÌïúÍµ≠Ïñ¥/Ï°∞ÏÑ†Îßê       1
Kiswahili     1
Name: count, dtype: int64

4. PRODUCTION COUNTRIES (individual):
production_countries
United States of America    18
United Kingdom               2
Name: count, dtype: int64

5. PRODUCTION COMPANIES (top 15):
production_companies
Marvel Studios                   5
Universal Pictures               3
20th Century Fox                 2
Lightstorm Entertainment         2
Walt Disney Animation Studios    2
Lucasfilm Ltd.                   2
Amblin Entertainment             2
Walt Disney Pictures             2
Dune Entertainment               1
Paramount Pictures               1
Ingenious Film Partners          1
Bad Robot                        1
Legendary Pictures               1
Fairview Entertainment           1
One Race                         1
Name: count, dtype: int64

======================================================================
ANOMALY DETECTION
======================================================================

Missing data:
collection              2
genres                  0
spoken_languages        0
production_countries    0
production_companies    0
dtype: int64

Handling Missing and Incorrect Data

In [33]:
movies_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18 non-null     int64
 1   title                 18 non-null     object
 2   release_date          18 non-null     object
 3   runtime               18 non-null     int64
 4   budget                18 non-null     int64
 5   revenue               18 non-null     int64
 6   vote_average          18 non-null     float64
 7   vote_count            18 non-null     int64
 8   popularity            18 non-null     float64
 9   original_language     18 non-null     object
 10  collection            16 non-null     object
 11  genres                18 non-null     object
 12  spoken_languages      18 non-null     object
 13  production_countries  18 non-null     object
 14  production_companies  18 non-null     object
dtypes: float64(2), int64(5), object(8)
memory usage: 2.2+ KB

AI Generated Summary report on identified trends 
## Analysis Summary: TMDb Movie Dataset (18 Movies)

---

### **Key Findings:**

**1. Franchise Dominance**
- **78% of movies belong to franchises** (14 out of 18 movies are part of collections)
- **The Avengers Collection leads** with 4 movies, followed by Star Wars, Frozen, and Jurassic Park (2 each)
- Only 2 standalone films in this dataset
- **Insight:** This sample is heavily skewed toward franchise/sequel content, indicating either blockbuster bias or intentional selection of major film series

**2. Genre Distribution**
- **Adventure (15), Action (12), and Science Fiction (10)** dominate
- Strong presence of **Family-friendly content** (Animation: 4, Family: 5, Fantasy: 5)
- **Underrepresented genres:** Drama (2), Comedy (1), Crime (1) - mature/adult-oriented content is minimal
- **Insight:** Dataset reflects commercial blockbuster trends - high-action, family-friendly films that generate franchise potential

**3. Language & Geographic Concentration**
- **100% U.S. production dominance** (18 out of 18 movies produced in the United States)
- **English is primary language** (18 occurrences), but many films are multilingual
- **Notable multilingual support:** Russian (3), French (2), Spanish (2), plus Asian languages (Japanese, Korean, Thai, Hindi)
- **Insight:** Hollywood global strategy evident - U.S.-produced films with international language tracks for worldwide distribution

**4. Studio Concentration**
- **Marvel Studios dominates** (5 movies - 28% of dataset)
- **Disney ecosystem prevalent:** Marvel, Walt Disney Animation, Walt Disney Pictures, Lucasfilm, 20th Century Fox (Disney-owned)
- Universal Pictures (3) is the main non-Disney competitor
- **Insight:** Extreme studio consolidation - Disney-affiliated companies account for majority of this sample

**5. Data Quality**
- **Excellent completeness:** Only 2 missing collection values (expected for standalone films)
- **Zero missing data** for genres, languages, countries, and companies
- **Clean extraction:** Pipe-separated format successfully implemented
- **Potential concern:** The 3 blank entries in spoken_languages may indicate data entry issues or need investigation

---

### **Anomalies Detected:**

1. **Geographic Monopoly:** 100% U.S. production is unusual even for blockbusters - suggests sampling bias toward Hollywood tentpoles
2. **Genre Homogeneity:** Lack of diversity (no horror, limited drama/comedy) indicates commercial/family-friendly filtering
3. **Mystery blank language entries:** 3 instances of empty strings need investigation - may be parsing errors
4. **Studio concentration risk:** Heavy Marvel/Disney presence may skew financial and franchise analysis

---

### **Implications for Your Analysis:**

- ‚úÖ **Franchise Analysis:** Excellent dataset - clear franchise vs. standalone comparison possible
- ‚úÖ **Financial Metrics:** Blockbuster budgets/revenues expected - good for ROI analysis
- ‚ö†Ô∏è **Genre Diversity:** Limited - conclusions may not generalize to independent/arthouse films
- ‚ö†Ô∏è **Geographic Representation:** U.S.-only production limits international film industry insights
- ‚úÖ **Director Analysis:** (Coming next) Marvel/Disney directors will likely dominate

**Recommendation:** Acknowledge sampling bias toward major studio franchises when drawing conclusions. This represents "blockbuster cinema" trends, not the film industry as a whole.

In [36]:
movies_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18 non-null     int64
 1   title                 18 non-null     object
 2   tagline               18 non-null     object
 3   overview              18 non-null     object
 4   status                18 non-null     object
 5   release_date          18 non-null     object
 6   runtime               18 non-null     int64
 7   budget                18 non-null     int64
 8   revenue               18 non-null     int64
 9   vote_average          18 non-null     float64
 10  vote_count            18 non-null     int64
 11  popularity            18 non-null     float64
 12  original_language     18 non-null     object
 13  poster_path           18 non-null     object
 14  collection            16 non-null     object
 15  genres                18 non-null     object
 16  spoken_languages      18 non-null     object
 17  production_countries  18 non-null     object
 18  production_companies  18 non-null     object
dtypes: float64(2), int64(5), object(12)
memory usage: 2.8+ KB

Converting column types

In [ ]:
print("\nConverting numeric columns")
numeric_columns = ['id', 'runtime', 'budget', 'revenue', 'vote_average', 'vote_count', 'popularity', ]

for col in numeric_columns:
    movies_df_clean[col] = pd.to_numeric(movies_df_clean[col], errors='coerce')
    print(f"Converted column '{col}' to numeric type.")

Converting numeric columns
Converted column 'id' to numeric type.
Converted column 'runtime' to numeric type.
Converted column 'budget' to numeric type.
Converted column 'revenue' to numeric type.
Converted column 'vote_average' to numeric type.
Converted column 'vote_count' to numeric type.
Converted column 'popularity' to numeric type.

In [38]:
print("\nConverting release_date to datetime")
movies_df_clean['release_date'] = pd.to_datetime(movies_df_clean['release_date'], errors = 'coerce')
print("Converted release_date to datetime type.")

print("\nVerifying data type conversions:")
print(movies_df_clean.dtypes)

print("\nSamples of converted data:")
print(movies_df_clean[['title','budget', 'release_date', 'popularity']].head())

Converting release_date to datetime
Converted release_date to datetime type.

Verifying data type conversions:
id                               int64
title                           object
tagline                         object
overview                        object
status                          object
release_date            datetime64[ns]
runtime                          int64
budget                           int64
revenue                          int64
vote_average                   float64
vote_count                       int64
popularity                     float64
original_language               object
poster_path                     object
collection                      object
genres                          object
spoken_languages                object
production_countries            object
production_companies            object
dtype: object

Samples of converted data:
                          title     budget release_date  popularity
0             Avengers: Endgame  356000000   2019-04-24     13.5434
1                        Avatar  237000000   2009-12-15     26.4900
2  Star Wars: The Force Awakens  245000000   2015-12-15      7.3921
3        Avengers: Infinity War  300000000   2018-04-25     20.7668
4                       Titanic  200000000   1997-11-18     28.1589

Replace Unrealistic Values

In [56]:
# Replacing 0 values for budget, revenue, runtime with NaN
print("\nReplacing zero values with NaN...")
zero_replacement_columns = ['budget', 'revenue', 'runtime']

for col in zero_replacement_columns:
    zero_count = (movies_df_clean[col] == 0).sum()
    movies_df_clean[col] = movies_df_clean[col].replace(0,pd.NA)
    print(f"Replaced {zero_count} zero values in column '{col}' with NaN.")
    
# Convert Budget and Runtime to million USD
print("\nConverting 'budget' and 'revenue' to million USD...")
movies_df_clean['budget_musd'] = movies_df_clean['budget'] / 1_000_000
movies_df_clean['revenue_musd'] = movies_df_clean['revenue'] / 1_000_000
print(movies_df_clean[['budget_musd', 'revenue_musd']].head())
print("\nConversion to million USD completed.")

# Drop original budget and revenue columns
movies_df_clean = movies_df_clean.drop(columns=['budget', 'revenue'])

Replacing zero values with NaN...
Replaced 0 zero values in column 'budget' with NaN.
Replaced 0 zero values in column 'revenue' with NaN.
Replaced 0 zero values in column 'runtime' with NaN.

Converting 'budget' and 'revenue' to million USD...
   budget_musd  revenue_musd
0        356.0   2799.439100
1        237.0   2923.706026
2        245.0   2068.223624
3        300.0   2052.415039
4        200.0   2264.162353

Conversion to million USD completed.

In [64]:
print("\nAnalysing movies with vote_count == 0...")
vote_count_zero = movies_df_clean[movies_df_clean['vote_count'] == 0]
print(f"Number of movies with vote_count == 0: {len(vote_count_zero)}")

if len(vote_count_zero) > 0:
    print("These movies: ")
    print(vote_count_zero[['title', 'vote_count', 'vote_average']])
    
    # Set vote_average to NaN for these movies
    movies_df_clean.loc[movies_df_clean['vote_count'] == 0, 'vote_average'] = pd.NA
    print("Set vote_average to NaN for movies with 0 vote_count")

Analysing movies with vote_count == 0...
Number of movies with vote_count == 0: 0

In [68]:
print("\nReplacing Unknown Placeholders test with NaN")
placeholder_cols = ['overview', 'tagline']
placeholder_replacements = ['No Data', 'N/A', 'Unknown', 'None', 'n/a', '', ' ']

for col in placeholder_cols: 
    if col in movies_df_clean.columns:
        # Replacing whitespaces and empty strings
        movies_df_clean[col] = movies_df_clean[col].replace('', pd.NA)
        movies_df_clean[col] = movies_df_clean[col].str.strip()
        movies_df_clean[col] = movies_df_clean[col].replace('', pd.NA)
        
        # Replace known placeholders
        for placeholder in placeholder_replacements:
            mask = movies_df_clean[col].str.lower() == placeholder.lower()
            movies_df_clean.loc[mask, col] = pd.NA
        
        print(f"  ‚úì Cleaned {col}")
        
print("\nData after unrealistic value replacement:")
print(movies_df_clean[['title', 'budget_musd', 'revenue_musd', 'runtime', 'vote_count', 'vote_average']].head(10))
print(movies_df_clean[movies_df_clean[['overview', 'tagline']].isin(placeholder_replacements).any(axis=1)])

Replacing Unknown Placeholders test with NaN
  ‚úì Cleaned overview
  ‚úì Cleaned tagline

Data after unrealistic value replacement:
                          title  budget_musd  revenue_musd  runtime  \
0             Avengers: Endgame        356.0   2799.439100      181
1                        Avatar        237.0   2923.706026      162
2  Star Wars: The Force Awakens        245.0   2068.223624      136
3        Avengers: Infinity War        300.0   2052.415039      149
4                       Titanic        200.0   2264.162353      194
5                Jurassic World        150.0   1671.537444      124
6                 The Lion King        260.0   1662.020819      118
7                  The Avengers        220.0   1518.815515      143
8                     Furious 7        190.0   1515.400000      139
9       Avengers: Age of Ultron        235.0   1405.403694      141

   vote_count  vote_average
0       26963         8.238
1       32857         7.594
2       20103         7.300
3       31176         8.236
4       26512         7.903
5       21123         6.699
6       10570         7.102
7       34238         7.866
8       11031         7.223
9       23876         7.271
Empty DataFrame
Columns: [id, title, tagline, overview, status, release_date, runtime, vote_average, vote_count, popularity, original_language, poster_path, collection, genres, spoken_languages, production_countries, production_companies, budget_musd, revenue_musd]
Index: []

Removing Duplicates and Drop Invalid Rows

In [73]:
# Checking for duplicates
print(f"\nRows before duplicate removal: {len(movies_df_clean)}")
duplicates = movies_df_clean.duplicated(subset=['id'], keep='first').sum()
print(f"No. of duplicate rows found: {duplicates}")

# Remove duplicate based on ID first
movies_df_clean = movies_df_clean.drop_duplicates(subset=['id'], keep='first')
print(f"Rows after duplicate removal: {len(movies_df_clean)}")

# Drop Rows based on missing id or title
before_drop = len(movies_df_clean)
print(f"\nRows before dropping missing id/title: {before_drop}")
movies_df_clean = movies_df_clean.dropna(subset=['id', 'title'])
after_drop = len(movies_df_clean)
print(f"Rows after dropping missing id/title: {after_drop}")
print(f"Dropped {before_drop - after_drop} rows with missing id/title.")

Rows before duplicate removal: 18
No. of duplicate rows found: 0
Rows after duplicate removal: 18

Rows before dropping missing id/title: 18
Rows after dropping missing id/title: 18
Dropped 0 rows with missing id/title.

Keeping Rows with Only Sufficient Data

In [78]:
print("\nFilter Rows by completeness")

# Count non-nan values per row
non_nan_counts = movies_df_clean.notna().sum(axis=1)

print("\nDistribution of non-NaN values per row:")
print(non_nan_counts.value_counts().sort_index())

# Keep rows with at least 10 non-NaN columns
print("\nFiltering: Keeping rows with at least 10 non-NaN values...")
before_filter = len(movies_df_clean)
movies_df_clean = movies_df_clean[non_nan_counts >= 10]
after_filter = len(movies_df_clean)

print(f"Rows before filtering: {before_filter}")
print(f"Rows after filtering: {after_filter}")
print(f"Dropped {before_filter - after_filter} rows with insufficient data.")

Filter Rows by completeness

Distribution of non-NaN values per row:
18     2
19    16
Name: count, dtype: int64

Filtering: Keeping rows with at least 10 non-NaN values...
Rows before filtering: 18
Rows after filtering: 18
Dropped 0 rows with insufficient data.

Filter For Released Movies

In [79]:
print("\nStatus value counts: ")
if 'status' in movies_df_clean.columns:
    print(movies_df_clean['status'].value_counts())

    # Filter for Released movies only
    before_filter = len(movies_df_clean)
    movies_df_clean = movies_df_clean[movies_df_clean['status'] == 'Released']
    after_filter = len(movies_df_clean)

    print(f"\n Movies before filter: {before_filter}")
    print(f" Movies after filter: {after_filter}")
    print(f"Removed: {before_filter - after_filter}")

    # Drop Status Column
    movies_df_clean = movies_df_clean.drop(columns=['status'], axis= 1)
    print("Dropped 'Status' column.")
else: 
    print(" 'status' column not found - skipping this step.")

Status value counts:
status
Released    18
Name: count, dtype: int64

 Movies before filter: 18
 Movies after filter: 18
Removed: 0
Dropped 'Status' column.

Getting Cast and Director Data

In [80]:
def fetch_credits(movie_id):
    """Fetch cast and crew data for a movie from TMDB API
    """
    url = f"{base_url}/movie/{movie_id}/credits?api_key={TMDB_API_KEY}"
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    return None

def extract_director(crew_data):
    """Extract director's name from the crew list
    """
    if not crew_data:
        return None
    
    directors = [person['name'] for person in crew_data if person.get('job') == 'Director']
    return directors[0] if directors else None

def extract_cast_names(cast_list, limit=5):
    """Extract top N cast member names"""
    if not cast_list:
        return None
    
    cast_names = [person['name'] for person in cast_list[:limit]]
    return '|'.join(cast_names) if cast_names else None


# Fetch credits for all movies
print("\nFetching credits for all movies...")
credits_data = []

for idx, row in movies_df_clean.iterrows():
    movie_id = row['id']
    print(f"  Fetching credits for: {row['title']}...")
    
    credits = fetch_credits(int(movie_id))
    
    if credits:
        director = extract_director(credits.get('crew', []))
        cast = extract_cast_names(credits.get('cast', []), limit=5)
        cast_size = len(credits.get('cast', []))
        crew_size = len(credits.get('crew', []))
        
        credits_data.append({
            'id': movie_id,
            'director': director,
            'cast': cast,
            'cast_size': cast_size,
            'crew_size': crew_size
        })
    
    time.sleep(0.1)  # time lag for API rate limits

# Create credits DataFrame and merge
credits_df = pd.DataFrame(credits_data)
movies_df_clean = movies_df_clean.merge(credits_df, on='id', how='left')

print("\n‚úì Credits data added!")
print(movies_df_clean[['title', 'director', 'cast', 'cast_size']].head())

Fetching credits for all movies...
  Fetching credits for: Avengers: Endgame...
  Fetching credits for: Avatar...
  Fetching credits for: Star Wars: The Force Awakens...
  Fetching credits for: Avengers: Infinity War...
  Fetching credits for: Titanic...
  Fetching credits for: Jurassic World...
  Fetching credits for: The Lion King...
  Fetching credits for: The Avengers...
  Fetching credits for: Furious 7...
  Fetching credits for: Avengers: Age of Ultron...
  Fetching credits for: Black Panther...
  Fetching credits for: Harry Potter and the Deathly Hallows: Part 2...
  Fetching credits for: Star Wars: The Last Jedi...
  Fetching credits for: Frozen II...
  Fetching credits for: Jurassic World: Fallen Kingdom...
  Fetching credits for: Frozen...
  Fetching credits for: Beauty and the Beast...
  Fetching credits for: Incredibles 2...

‚úì Credits data added!
                          title       director  \
0             Avengers: Endgame  Anthony Russo
1                        Avatar  James Cameron
2  Star Wars: The Force Awakens    J.J. Abrams
3        Avengers: Infinity War  Anthony Russo
4                       Titanic  James Cameron

                                                cast  cast_size
0  Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...        105
1  Sam Worthington|Zoe Salda√±a|Sigourney Weaver|S...         65
2  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...        183
3  Robert Downey Jr.|Chris Evans|Chris Hemsworth|...         69
4  Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...        116

Reorder Columns and Reset Index

In [81]:
print(movies_df_clean.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18 non-null     int64
 1   title                 18 non-null     object
 2   tagline               18 non-null     object
 3   overview              18 non-null     object
 4   release_date          18 non-null     datetime64[ns]
 5   runtime               18 non-null     int64
 6   vote_average          18 non-null     float64
 7   vote_count            18 non-null     int64
 8   popularity            18 non-null     float64
 9   original_language     18 non-null     object
 10  poster_path           18 non-null     object
 11  collection            16 non-null     object
 12  genres                18 non-null     object
 13  spoken_languages      18 non-null     object
 14  production_countries  18 non-null     object
 15  production_companies  18 non-null     object
 16  budget_musd           18 non-null     float64
 17  revenue_musd          18 non-null     float64
 18  director              18 non-null     object
 19  cast                  18 non-null     object
 20  cast_size             18 non-null     int64
 21  crew_size             18 non-null     int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(12)
memory usage: 3.2+ KB
None

In [82]:
print("\nReordering columns and Resetting index...")
desired_column_order = [
    'id', 'title', 'tagline', 'release_date', 'genres', 'belongs_to_collection', 'original_language', 
    'budget_musd', 'revenue_musd', 'production_companies', 'production_countries', 'vote_count', 'vote_average', 
    'popularity', 'runtime', 'overview', 'spoken_languages', 'poster_path', 'cast', 'cast_size', 'director', 'crew_size'
    ]

# Rename 'collection' back to 'belongs_to_collection'
if 'collection' in movies_df_clean.columns: 
    movies_df_clean = movies_df_clean.rename(columns={'collection': 'belongs_to_collection'})
    
# Keep only desired columns that exist
existing_columns = [col for col in desired_column_order if col in movies_df_clean.columns]
missing_columns = [col for col in desired_column_order if col not in movies_df_clean.columns]

if missing_columns: 
    print(f"\n Missing columns: {missing_columns}")
    
# Reorder columns
movies_df_final = movies_df_clean[existing_columns].copy().reset_index(drop=True)

print("\n FINAL CLEANED DATAFRAME")
print(f"Shape: {movies_df_final.shape}")
print(f"Columns: {list(movies_df_final.columns)}")
print("\nFirst few rows:")
print(movies_df_final.head())

print("\n\nData types:")
print(movies_df_final.dtypes)

# Just to be sure
print("\n\nMissing values:")
print(movies_df_final.isnull().sum())

Reordering columns and Resetting index...

 FINAL CLEANED DATAFRAME
Shape: (18, 22)
Columns: ['id', 'title', 'tagline', 'release_date', 'genres', 'belongs_to_collection', 'original_language', 'budget_musd', 'revenue_musd', 'production_companies', 'production_countries', 'vote_count', 'vote_average', 'popularity', 'runtime', 'overview', 'spoken_languages', 'poster_path', 'cast', 'cast_size', 'director', 'crew_size']

First few rows:
       id                         title  \
0  299534             Avengers: Endgame
1   19995                        Avatar
2  140607  Star Wars: The Force Awakens
3  299536        Avengers: Infinity War
4     597                       Titanic

                                     tagline release_date  \
0                         Avenge the fallen.   2019-04-24
1                Enter the world of Pandora.   2009-12-15
2              Every generation has a story.   2015-12-15
3              Destiny arrives all the same.   2018-04-25
4  Nothing on earth could come between them.   1997-11-18

                                     genres    belongs_to_collection  \
0          Adventure|Science Fiction|Action  The Avengers Collection
1  Action|Adventure|Fantasy|Science Fiction        Avatar Collection
2          Adventure|Action|Science Fiction     Star Wars Collection
3          Adventure|Action|Science Fiction  The Avengers Collection
4                             Drama|Romance                     None

  original_language  budget_musd  revenue_musd  \
0                en        356.0   2799.439100
1                en        237.0   2923.706026
2                en        245.0   2068.223624
3                en        300.0   2052.415039
4                en        200.0   2264.162353

                                production_companies  ... vote_average  \
0                                     Marvel Studios  ...        8.238
1  Dune Entertainment|Lightstorm Entertainment|20...  ...        7.594
2                           Lucasfilm Ltd.|Bad Robot  ...        7.300
3                                     Marvel Studios  ...        8.236
4  Paramount Pictures|20th Century Fox|Lightstorm...  ...        7.903

   popularity  runtime                                           overview  \
0     13.5434      181  After the devastating events of Avengers: Infi...
1     26.4900      162  In the 22nd century, a paraplegic Marine is di...
2      7.3921      136  Thirty years after defeating the Galactic Empi...
3     20.7668      149  As the Avengers and their allies have continue...
4     28.1589      194  101-year-old Rose DeWitt Bukater tells the sto...

                                    spoken_languages  \
0                                        English|Êó•Êú¨Ë™û
1                                    English|Espa√±ol
2                                            English
3                                            English
4  English|Fran√ßais|Deutsch|svenska|Italiano|P—É—Å—Å–∫–∏–π

                        poster_path  \
0  /bR8ISy1O9XQxqiy0fQFw2BX72RQ.jpg
1  /gKY6q7SjCkAU6FqvqWybDYgUKIF.jpg
2  /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
3  /7WsyChQLEftFiDOVTGkv3hFpyyt.jpg
4  /9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg

                                                cast cast_size       director  \
0  Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...       105  Anthony Russo
1  Sam Worthington|Zoe Salda√±a|Sigourney Weaver|S...        65  James Cameron
2  Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...       183    J.J. Abrams
3  Robert Downey Jr.|Chris Evans|Chris Hemsworth|...        69  Anthony Russo
4  Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...       116  James Cameron

   crew_size
0        607
1        990
2        262
3        733
4        262

[5 rows x 22 columns]


Data types:
id                                int64
title                            object
tagline                          object
release_date             datetime64[ns]
genres                           object
belongs_to_collection            object
original_language                object
budget_musd                     float64
revenue_musd                    float64
production_companies             object
production_countries             object
vote_count                        int64
vote_average                    float64
popularity                      float64
runtime                           int64
overview                         object
spoken_languages                 object
poster_path                      object
cast                             object
cast_size                         int64
director                         object
crew_size                         int64
dtype: object


Missing values:
id                       0
title                    0
tagline                  0
release_date             0
genres                   0
belongs_to_collection    2
original_language        0
budget_musd              0
revenue_musd             0
production_companies     0
production_countries     0
vote_count               0
vote_average             0
popularity               0
runtime                  0
overview                 0
spoken_languages         0
poster_path              0
cast                     0
cast_size                0
director                 0
crew_size                0
dtype: int64